[package]
name = "minimq"
version = "0.6.0"
authors = ["Ryan Summers <ryan.summers@vertigo-designs.com>", "Max Rottenkolber <max@mr.gy>"]
edition = "2018"

description = "A minimal MQTT5 client designed for no_std platforms"
homepage = "https://github.com/quartiq/minimq"
repository = "https://github.com/quartiq/minimq"
documentation = "https://docs.rs/minimq"

readme = "README.md"
categories = ["embedded", "no-std", "database", "encoding"]
keywords = ["mqtt", "embedded", "client"]
license = "MIT"

[dependencies]
bit_field = "0.10.0"
num_enum = { version = "0.5", default-features = false }
heapless = { version = "0.7", features = ["serde"] }
log = {version = "0.4", optional = true}
embedded-time = "0.12"
varint-rs = {version = "2.2", default-features = false }
serde = { version = "1", features = ["derive"], default-features = false }
smlang = "0.6.0"

[dependencies.embedded-nal]
version = "0.6"

[features]
default = []
logging = ["log"]

[dev-dependencies]
log = "0.4"
env_logger = "0.7"
std-embedded-nal = "0.1"
std-embedded-time = "0.1"
